/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

:root {
  --main-bg-color: #7d9f79 ;
  --secondary-bg-color: #5e795b ;
  --third-bg-color:#ecf0f1 ;
}

* {
   font-family: 'Economica', sans-serif;
}

body {
  min-height: 100vh;
  /* for stick footer */
  display: flex;
  flex-direction: column;
  /* for stick footer */
}

/* MENU BURGER */ 

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 16px 24px;
  background-color: var(--main-bg-color);
  width: 100%;
  z-index: 50;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.226);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  align-items: center;
  position: fixed;
  left: -100%;
  top: 61px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  height: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 10;
  box-shadow: 5px 0 5px -5px #333;
}

.nav-item {
  margin: 0px;
}

.nav-link{
  font-size: 26px;
  font-weight: 600;
  color: white;
  height: 70px;
  width: 250px;
  display: inline-block;
  align-items: center;
  padding-top: 20px;
}

.nav-link:hover{
  background-color: var(--secondary-bg-color);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
}

.nav-menu.active {
  left: 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.logo {
  height: 30px;
}

@media screen and (max-width: 768px) {
  .nav-menu {
      left: 0%;
      top: -100%;
      display: flex;
      flex-direction: column;
      background-color: var(--main-bg-color);
      height: 100%;
      text-align: center;
      padding-top: 30px;
  }
  .nav-menu.active {
      top: 6%;
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-link {
      border-radius: 10px;
  }
}

/* ACCUEIL */

.propos {
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.propos h2 {
  margin-top: 25px;
}

.imgFeuille {
  height: 80px;
  width: 80px;
}

.home {
margin-left: 180px;
margin-right: 180px;
}

.hometexte {
  font-size: 20px;
  text-align: center;
  padding-top: 70px;
}

.hometittle {
  font-size: 52px;
  padding-top: 40px;
  margin-top: 100px;
  text-align: center;
}

.footer {
  height: 62px;
  background-color: var(--main-bg-color);
  margin-top: auto;
  z-index: 50;
  box-shadow: 0 10px 47px rgba(0, 0, 0, 0.342);
}

#btntop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.btnfooter {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  padding-top: 0px;
}

@media screen and (max-width: 768px) {
  .home {
    margin-left: 80px;
    margin-right: 80px;
  }

  .hometexte {
    font-size: 16px;
    padding-top: 40px;
  }

  .hometittle {
    font-size: 28px;
    padding-bottom: 22px;
  }

  .footer {
    z-index: 6;
  }

  .propos h2 {
    margin-top: 12px;
    text-align: center;
  }
  

}

/*==================GOOD PRACTICES===========================*/
body{
  background-color:var(--third-bg-color);
  }

.tips-h1{
  position: fixed;
  background-color: #dfe6e9;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100vw;
  height: 200px;
  font-size: 40px; 
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 130px;
  font-weight: bold; 
  letter-spacing: -1px;
  line-height: 1; 
  text-align: center;
}
.tips-all{
 
  margin: 250px 20vw 0 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tips-container{
  display: flex;
  align-content:center;
  flex-direction: column;
  text-align: center;
}

.tips-btn{
  margin:20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
  width: 200px;
  height: 200px;
  border-radius: 60px;
  font-size: 30px;
  transition: 1s;
  cursor: pointer;
  border :none;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  background: #fff;
}

.tips-btn > p{
  font-size: 45px; 
}

 /*==========Mobile ==============*/
@media screen and (max-width: 768px) {

  .tips-all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .tips-btn {
    width: 80vw;
    height: 200px;
    font-size: 40px;
  }
  .tips-btn > p {
    font-size: 60px;
  }

   .tips-p{
    margin: 0 20vw 0 20vw;
  }
  

  }
  
  .tips-btn:hover{
   box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.3);
}

.tips-p{
  transition: 1s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 250px;
  font-size: 20px;
  text-align: center;
}


details[open] summary ~ * {
  animation: sweep 0.5s ease-in;
}


@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

/*====================================================/*





 /*=================== CONTACT =========================*/

  .photoEq{
    display:flex;
    /* border: red solid 2px; */
    margin: 15px;
    height: 32vh;
    margin-left: 30px;
    margin-right: 30px;
  }

  .explication{
    /*border: red solid 2px;*/
    font-size: 18px;
    margin: 10px;
    margin-left: 180px;
    margin-right: 180px;
  }

  .contact{
      margin: 10px;
      border-top: var(--main-bg-color) 2px solid;
      color: var(--main-bg-color);
      text-align: left;
      font-weight: bold;
      font-size: 24px;
      padding-top: 8px;
      margin-left: 180px;
      margin-right: 180px;
  }

  .message{
    display: flex;
    align-items: flex-start;
  }

  .message label{
    margin-top: 10px;
  }

  .formulaire{
    /*border: red solid 2px;*/
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: auto;
    margin: 110px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 300px;
    
  }

  label{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }

  input, textarea{
    margin: 7px;
    width: 60vw;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    border: solid var(--main-bg-color) 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  textarea {
    padding-bottom: 40px;
  }
  button{
    font-size: 25px;
    border: none;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
    #000000 1px -1px;
    
  }
  .button {
    display: inline-block;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
  .button button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: var(--main-bg-color);
    color:rgba(255,255,255);
    font-weight: bold;
    
    }
  .button button:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    background-color: var(--secondary-bg-color);
    }
  .button:hover {
    background-color: var(--secondary-bg-color);
    }
  .button:hover button {
    padding-right: 15px;
    background-color: var( --secondary-bg-color);
    }
  .button:hover button:after {
    opacity: 1;
    right: 0;
    }
    
    #overlay {
      display: none;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.829);
      cursor: default;
      z-index: 2;
      top: 0;
    }
    .content h1 {
      font-size: 120px;
      color: var(--main-bg-color);
      text-shadow: 5px 5px 5px #000000;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 300px;
    }
    .okBtn button {
    display: inline-block;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    border: 4px double #292929;
    color: #eeeeee;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 50px;
    text-shadow: #000000 2px 2px, #000000 -1px 1px, #000000 -1px -1px,
    #000000 1px -1px;; 
    box-shadow: 5px 5px 5px #000000;
    }

      
    .okBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }

    @media screen and (max-width: 768px) {
      .explication {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
      }

      .contact{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 34px;
      }
      .formulaire{
        margin: 20px;
        font-size: 25px;
        display: flex;
        align-items: flex-start;
      }
      label{
        font-size: 25px;
        font-weight: bold;
      }
      input, textarea {
        width: 90vw;
        font-size: 25px;
      }
      .message {
        display: flex;
        flex-direction: column;
      }
      button {
        font-size: 40px;
        font-weight: bold;
      }
      .button {
        margin: auto;
        margin-top: 35px;
        font-size: 35px;
      }
      .titreContact {
        text-align: center;
      }
      
    }
        
        
        
      
       
        
       
        
        
      
    

/* GREEN PROJECT */

/* Slider */

.local {
padding: 50px;
text-align: center;
}

.éco {
text-align: center;
}

.container {
  width:1024px;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  }
  
  .slider {
  position:relative;
  height:0px;
  padding-bottom:66.666666667%;
  margin-top:24px;
  margin-bottom:24px;
  }
  
  .slider__after {
  position:absolute;
  top:0px;
  left:0px;
  z-index:1;
  width:100%;
  height:100%;
  background-image:url('./assets/wildbefore.png');
  background-size:cover;
  pointer-events: none;
  }
  
  .slider__before {
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  width:50%;
  height:100%;
  background-image:url('./assets/wildafter.jpg');
  background-size:cover;
  pointer-events: none;
  overflow:hidden;
  }
  
  .slider__before:before {
  content:'Avant';
  position:absolute;
  left:8px;
  top:8px;
  }
  
  .slider__after:before {
  content:'Après';
  position:absolute;
  right:8px;
  top:8px;
  }
  
  .slider__separator {
  position:absolute;
  left:50%;
  width:2px;
  top:0px;
  bottom:0px;
  background:rgba(255,255,255,0.7);
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.5);
  cursor:ew-resize;
  z-index:3;
  transform:translateX(-50%);
  }
  
  .slider__range {
  position:absolute;
  width:100%;
  bottom:0px;
  z-index: 3;
  appearance: none;
  background:rgba(255,255,255,0.3);
  outline:none;
  margin:0px;
  }
  
  .slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width:12px;
  height:16px;
  background:white;
  }
  
  .slider__range::-moz-slider-thumb {
  -moz-appearance: none;
  width:12px;
  height:16px;
  background:white;
  }
  
  